body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66vh;
    margin: 0;
}
  
#contenedor-maquetado {
    text-align: center;
    border: solid 2px black;
    width: 20vh;
    padding: 5px;
}

button{
    width: 97%;
}